*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    color: gray;
}

h2, h3, figcaption{
    color: #594d5b;
}
header{
    width: 100%;
    background-color: #00BFFF;
}

.topo{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topo img{
    margin-left: 10px;
}

.link-topo{
    margin-left: 15px;
    padding: 10px;
}

.link-topo a{
    margin-left: 30px;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
}

.link-topo a:hover{
    color: #594d5b  ;
}

.banner{
    width: 100%;
    height: 600px;
    display: flex;
    background-image: url(/img/recepcao.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.area{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;   
}

.titulo{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.titulo h1{
    font-size: 33px;
    color: #fff;
}

#sobre{
    width: 100%;
}

.titulo-sobre{
    margin-top: 30px;
    text-align: center;
}

.titulo-sobre p{
    width: 700px;
    margin: 20px auto;
    line-height: 22px;
    font-size: 18px;
}

.conteudo-lista{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-lista img{
    width: 20%;
    margin-left: 90px;
}

.lista{
    line-height: 22px;
}

.lista h2{
    color: gray;
    margin-bottom: 20px;
}

.lista ul{
    color: gray;
}

.lista li{
    margin-left: 50px;
}

.conteudo-multi{
    margin: 30px auto;
    width: 100%;
    max-width: 1024px;
    text-align: center;
}

.conteudo-multi p{
    margin-top: 20px;
    line-height: 22px;
}

.galeria-multi{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.galeria-multi figure{
    text-align: center;
    box-shadow: 1px 1px 8px gray;
}

.galeria-multi img{
    width: 260px;
    height: 180px;
}

.galeria-multi figcaption{
    padding: 10px;
    color: gray;
}

.container-botao{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.botao{
    width: 180px;
    padding: 15px;
    text-align: center;
    background-color: #00BFFF;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.conteudo-contato{
    margin: 30px auto;
    text-align: center;
}

.conteudo-contato p{
    padding-top: 20px;
}

.conteudo-contato span, a{
    color: #594d5b;
    font-weight: bold;
    text-decoration: none;
}

footer{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #008B8B;
}

.conteudo-footer{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.conteudo-footer img{
    width: 120px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.conteudo-footer p{
    color: #fff;
    line-height: 33px;
}

@media screen and (max-width: 425px){
    
    .topo{
        display: flex;
        justify-content: center;
    }

    .topo img{
        width: 120px;
    }

    .link-topo{
        border-top: 2px solid #008B8B;
    }

    .link-topo a{
        font-size: 16px;
    }

    .banner{
        height: 169px;
        display: flex;
    }

    .titulo{
        width: 90%;
        display: flex;
        justify-content: baseline;
        align-items:center;  
    }

    .titulo h1{
        font-size: 18px;
    }

    .titulo-sobre{
        margin-top: 40px;
    }

    .titulo-sobre h2{
        font-size: 18px;
    }

    .titulo-sobre p{
        width: 346px;
        margin: 20px 20px;
        line-height: 20px;
        font-size: 14px;
    }

    .conteudo-lista img{
        display: none;
    }

    .conteudo-lista h2{
        margin: 0 10px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
    }

    .conteudo-lista ul{
        margin: 10px 10px 10px -5px;
    }
    
    .conteudo-lista p{
        font-size: 13px;
        line-height: normal;
    }
}







